    body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #0f3057;
    color: #e7e7de;
    padding: 0px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.filter-section {
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color: #00587a;
    color: white;
    padding: 10px;
}

.result-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    background-color: #e7e7de;
}

.recipe-container {
    width: 20%;
    margin: 20px;
    background-color: white;
}

.image-container img {
    width: 100%;
    position: relative;
}

.image-container {
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

h2 {
    margin: 0;
}

.cooking-time {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius: 30px;
    box-shadow: 1px 1px rgb(226, 225, 225);
    position: absolute;
    margin-top: -2%;
    margin-left: 12%;
    background-color: white;
}

@media (max-width: 767px) {    
    .result-section {
        flex-direction: column;
        width: 100%;
    }
}